<%-include('partials/header') %>

<article class="article">
  <% posts.forEach(function(post) {%>
  <div class="article__container">
    <div class="article__date">
      <i class="far fa-clock"></i> <%= post.date %>
    </div>
    <div class="article__title">
      <a name="postTitle" href="/posts/<%= post._id %>"><%= post.title%></a>
    </div>
    <div class="article__description">
      <%= post.description.substring(0, 150) + "..."%>
    </div>
    <div class="article__button">
      <a name="postBtn" href="/posts/<%= post._id %>" id="read-more">Read More</a>
    </div>
  </div>
  <% }); %>
</article>

<div class="scroll">
  <p><i class="scroll__arrow fas fa-arrow-left"></i> scroll down </p>
</div>

<%-include('partials/newsletter') %> <%-include('partials/footer') %>